body{
  background-image: linear-gradient(to right top, #b97a95, #c486a1, #ce92ad, #d99eb9, #e4aac5, #e7b1ca, #eab7d0, #edbed5, #e9c1d5, #e5c5d4, #e0c8d4, #dccbd3);
}
h1{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
h3{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}
#message{
  font-size: 10px;
}
p{
  font-size: large;
  font-style: italic;
  text-align: center;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #B97A95;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .wrapper .form .inputfield label{
     width: 200px;
     color: black;
     margin-right: 10px;
     font-size: 16px;
     font-style: italic;
     font-style: bolder;
  }
  .wrapper .form .inputfield input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #F3BAD6;
  }
  
  .wrapper .form .inputfield p{
    font-size: 16px;
    color: #757575;
 }
 .wrapper .form .inputfield .check{
   width: 15px;
   height: 15px;
   position: relative;
   display: block;
   cursor: pointer;
 }
 .wrapper .form .inputfield .check input[type="checkbox"]{
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
 }
 .wrapper .form .inputfield .check .checkmark{
   width: 15px;
   height: 15px;
   border: 1px solid #F3BAD6;
   display: block;
   position: relative;
 }
 .wrapper .form .inputfield .check .checkmark:before{
   content: "";
   position: absolute;
   top: 1px;
   left: 2px;
   width: 5px;
   height: 2px;
   border: 2px solid;
   border-color: transparent transparent #fff #fff;
   transform: rotate(-45deg);
   display: none;
 }
 .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
   background: #F3BAD6;
 }
 
 .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
   display: block;
 } 
  ::placeholder{
    color: #616a7e;
    font-style: italic;
  }
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:#E1E5EA;
    color: #47597E;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background:#F3BAD6;
    color: #fff;
  }
  .gender_value{
    margin-inline-start: 50px;
  }
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
}
.submit{
    background-color:#B97A95;
    font-weight: lighter;
    font-size: large;
    font-style: normal;
    color: white;
    align-items: center;
    width: 500px;
    height: 30px;
    border-color:#B97A95;
}
.check{
  font-style: italic;
}